<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>QUẢN LÝ HỘI VIÊN - THÊM MỚI HỘI VIÊN</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css2/bootstrap.min.css">
        <link rel="stylesheet" href="/css2/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
        <script src="/js2/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="main-site">
            <header class="main-header">
                <h2>QUẢN LÝ HỘI VIÊN</h2>
            </header>
            <!-- main-header -->

            <section class="main-content">
                <div class="mk-minibar-menu">
                    <a href="/users" class="mk-minibar-menu-item active">
                        <i class="fas fa-child"></i>
                    </a>
                    <a href="/accounts" class="mk-minibar-menu-item">
                        <i class="far fa-user-circle"></i>
                    </a>
                </div>
                <div class="mk-panel-tab-content">
                    <div class="tab-content-topbar">
                        <div class="bar-left">
                            <h6 class="mb-0">
                                <a href="/users">Danh sách hội viên</a> >
                                <span>Thêm mới hội viên</span>
                            </h6> 
                        </div>
                    </div>
                    <div class="mk-product-wrap mk-space">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 mk-form-group">
                                <label class="mk-label">Họ và Tên <span class="color-error">*</span></label>
                                <input type="text" placeholder="Nhập Họ và Tên" class="form-control" value="<%= data.name %>">
                            </div>
                            <div class="col-lg-3 col-md-6 mk-form-group">
                                <label class="mk-label">Năm sinh </label>
                                <input type="text" placeholder="Nhập Năm sinh" class="form-control" value="<%= data.birthday %>">
                            </div>
                            <div class="col-lg-3 col-md-6 mk-form-group">
                                <label class="mk-label">Năm nhập ngũ </label>
                                <input type="text" placeholder="Nhập Năm nhập ngũ" class="form-control" value="<%= data.nhapngu %>">
                            </div>
                            <div class="col-lg-3 col-md-6 mk-form-group">
                                <label class="mk-label">Cấp bậc <span class="color-error">*</span></label>
                                <div class="dropdown">
                                    <button  class="form-control text-left" type="button" id="dropdownLevel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Cấp bậc
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownLevel">
                                      <a class="dropdown-item active" href="#">1</a>
                                      <a class="dropdown-item" href="#">2</a>
                                      <a class="dropdown-item" href="#">3</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 mk-form-group">
                                <label class="mk-label">Đơn vị <span class="color-error">*</span></label>
                                <div class="dropdown">
                                    <button  class="form-control text-left" type="button" id="dropdownPos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Đơn vị
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownPos">
                                      <a class="dropdown-item active" href="#">Đơn vị 1</a>
                                      <a class="dropdown-item" href="#">Đơn vị 2</a>
                                      <a class="dropdown-item" href="#">Đơn vị 3</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mk-form-group">
                                <label class="mk-label">Dân tộc </label>
                                <div class="dropdown">
                                    <button  class="form-control text-left" type="button" id="dropdownDan" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Dân tộc
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownDan">
                                      <a class="dropdown-item active" href="#">Kinh</a>
                                      <a class="dropdown-item" href="#">Tày</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mk-form-group">
                                <label class="mk-label">Tôn giáo</label>
                                <input type="text" placeholder="Nhập Tôn giáo" class="form-control" value="<%= data.religious%>">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 mk-form-group">
                                <label class="mk-label">Trình độ văn hóa <span class="color-error">*</span></label>
                                <div class="dropdown">
                                    <button  class="form-control text-left" type="button" id="dropdownVan" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                     Trình độ văn hóa
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownVan">
                                      <a class="dropdown-item active" href="#">Đơn vị 1</a>
                                      <a class="dropdown-item" href="#">Đơn vị 2</a>
                                      <a class="dropdown-item" href="#">Đơn vị 3</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mk-form-group">
                                <label class="mk-label"> Trình độ chính trị </label>
                                <div class="dropdown">
                                    <button  class="form-control text-left" type="button" id="dropdownChinh" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Trình độ chính trị
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownChinh">
                                      <a class="dropdown-item active" href="#">Kinh</a>
                                      <a class="dropdown-item" href="#">Tày</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mk-form-group">
                                <label class="mk-label">Chức danh <span class="color-error">*</span></label>
                                <div class="dropdown">
                                    <button  class="form-control text-left" type="button" id="dropdownChuc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Chức danh
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownChuc">
                                      <a class="dropdown-item active" href="#">Kinh</a>
                                      <a class="dropdown-item" href="#">Tày</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 mk-form-group">
                                <label class="mk-label">Chức vụ đảng <span class="color-error">*</span></label>
                                <div class="dropdown">
                                    <button  class="form-control text-left" type="button" id="dropdownDang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                     Chức vụ đảng
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownDang">
                                      <a class="dropdown-item active" href="#">Đơn vị 1</a>
                                      <a class="dropdown-item" href="#">Đơn vị 2</a>
                                      <a class="dropdown-item" href="#">Đơn vị 3</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mk-form-group">
                                <label class="mk-label"> Chức vụ chính quyền </label>
                                <div class="dropdown">
                                    <button  class="form-control text-left" type="button" id="dropdownQuyen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Chức vụ chính quyền
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownQuyen">
                                      <a class="dropdown-item active" href="#">Kinh</a>
                                      <a class="dropdown-item" href="#">Tày</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mk-form-group">
                                <label class="mk-label">Chức vụ quần chúng <span class="color-error">*</span></label>
                                <div class="dropdown">
                                    <button  class="form-control text-left" type="button" id="dropdownChung" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Chức vụ quần chúng
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownChung">
                                      <a class="dropdown-item active" href="#">Kinh</a>
                                      <a class="dropdown-item" href="#">Tày</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-6 mk-form-group">
                                <label class="mk-label">Khen thưởng </label>
                                <div class="form-group">
                                    <div class='input-group date' id='datetimepicker1' style="position:relative">
                                       <input type='text' class="form-control" data-provide='datepicker' data-date-container='#datetimepicker1' placeholder="Chọn thời gian" />
                                       <span class="input-group-addon" style="display: none;">
                                        <i class="fas fa-calendar-times"></i>
                                       </span>
                                    </div>
                                 </div>
                            </div>
                            <div class="col-lg-3 col-md-6 mk-form-group">
                                <label class="mk-label" style="opacity: 0;">Khen thưởng </label>
                                <input type="text" placeholder="Nhập Nội dung" class="form-control">
                            </div>
                            <div class="col-lg-6 col-md-6 mk-form-group">
                                <label class="mk-label">Hoàn cảnh gia đình</label>
                                <input type="text" placeholder="Nhập Nội dung" class="form-control" value="<%= data.family_situation%>">
                            </div>
                        </div>
                        
                        <button type="button" class="mk-btn mk-btn-primary" data-toggle="modal" data-target="#modalHistory">
                            Lịch sửa thay đổi
                        </button>
                    </div>
                </div>
            </section>
            
            <div class="mk-detail-bottom">
                <button class="mk-btn mk-btn-secondary mr6">
                    <i class="fas fa-ban mr6"></i>Hủy
                </button> 
                <button class="mk-btn mk-btn-primary"><i class="fas fa-save mr6"></i>Lưu</button>
            </div>
            <!-- main-content -->
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="modalHistory" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">Lịch sử thay đổi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <label class="mk-label">Cấp bậc </label>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker' style="position:relative">
                                   <input type='text' class="form-control" data-provide='datepicker' data-date-container='#datetimepicker' placeholder="Chọn thời gian" />
                                   <span class="input-group-addon" style="display: none;">
                                    <i class="fas fa-calendar-times"></i>
                                   </span>
                                </div>
                             </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <label class="mk-label" style="opacity: 0;">Cấp bậc</label>
                            <input type="text" placeholder="Nhập Nội dung" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <label class="mk-label">Trình độ chuyên môn </label>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker' style="position:relative">
                                   <input type='text' class="form-control" data-provide='datepicker' data-date-container='#datetimepicker' placeholder="Chọn thời gian" />
                                   <span class="input-group-addon" style="display: none;">
                                    <i class="fas fa-calendar-times"></i>
                                   </span>
                                </div>
                             </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <label class="mk-label" style="opacity: 0;">Trình độ chuyên môn</label>
                            <input type="text" placeholder="Nhập Nội dung" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <label class="mk-label">Chức vụ chính quyền </label>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker' style="position:relative">
                                   <input type='text' class="form-control" data-provide='datepicker' data-date-container='#datetimepicker' placeholder="Chọn thời gian" />
                                   <span class="input-group-addon" style="display: none;">
                                    <i class="fas fa-calendar-times"></i>
                                   </span>
                                </div>
                             </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <label class="mk-label" style="opacity: 0;">Chức vụ chính quyền</label>
                            <input type="text" placeholder="Nhập Nội dung" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <label class="mk-label">Khen thưởng </label>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker' style="position:relative">
                                   <input type='text' class="form-control" data-provide='datepicker' data-date-container='#datetimepicker' placeholder="Chọn thời gian" />
                                   <span class="input-group-addon" style="display: none;">
                                    <i class="fas fa-calendar-times"></i>
                                   </span>
                                </div>
                             </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <label class="mk-label" style="opacity: 0;">Khen thưởng</label>
                            <input type="text" placeholder="Nhập Nội dung" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="mk-btn mk-btn-secondary" data-dismiss="modal"> 
                        <i class="fas fa-times mr6"></i>Đóng</button>
                </div>
            </div>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        $('#datetimepicker').datepicker({format: "dd.mm.yyyy"});
     </script>
</html>
