<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>QUẢN LÝ HỘI VIÊN- DANH SÁCH HỘI VIÊN</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css2/bootstrap.min.css">
        <link rel="stylesheet" href="/css2/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="/js2/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="main-site">
            <header class="main-header">
                <h2>QUẢN LÝ HỘI VIÊN</h2>
            </header>
            <!-- main-header -->

            <section class="main-content">
                <div class="mk-minibar-menu">
                    <a href="/" class="mk-minibar-menu-item active">
                        <i class="fas fa-child"></i>
                    </a>
                    <a href="/accounts" class="mk-minibar-menu-item">
                        <i class="far fa-user-circle"></i>
                    </a>
                </div>
                <div class="mk-panel-tab-content">
                    <div class="tab-content-topbar">
                        <div class="bar-left">
                            <h6 class="mb-0">
                                Danh sách hội viên
                            </h6> 
                        </div>
                        <div class="bar-right">
                            <div class="text-right bar-right-item">
                                <strong class="mb-0 fs-12">Tổng số hội viên: <span class="color-brand-secondary"><%= data.length %></span></strong>
                            </div> 
                            <div class="bar-right-item">
                                <a href="/users/add" class="mk-btn mk-btn-primary">
                                    <i class="fas fa-plus"></i>
                                    Thêm mới hội viên
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="mk-product-filter">
                        <div class="mk-product-filter-dropdown mk-dropdowns-inline">
                            <strong>Phân loại theo:</strong>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Cấp bậc
                                  <i class="fas fa-angle-down"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item active" href="#">1</a>
                                  <a class="dropdown-item" href="#">2</a>
                                  <a class="dropdown-item" href="#">3</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" 
                                id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Đơn vị
                                  <i class="fas fa-angle-down"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                  <a class="dropdown-item active" href="#">P1</a>
                                  <a class="dropdown-item" href="#">P2</a>
                                  <a class="dropdown-item" href="#">P3</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mk-product-wrap">
                        <div class="mk-header-checkall justify-content-start">
                            <div class="mk-custom-checkbox custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" 
                                value="true" id="__BVID__5316">
                                <label class="custom-control-label" for="__BVID__5316">
                                    <strong>Có
                                        <span class="color-brand-secondary">
                                        0
                                        hội viên
                                        </span>
                                    </strong>
                                </label>
                            </div>
                        </div>
                        <div class="mk-search-form">
                            <i class="fas fa-search"></i>
                            <input type="search" placeholder="Tìm kiếm theo tên hội viên" class="form-control">
                        </div>
                        <div id="mk-table" class="mk-table-list">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Họ và tên</th>
                                        <th scope="col">Cấp bậc</th>
                                        <th scope="col">Trình độ chuyên môn</th>
                                        <th scope="col">Đơn vị</th>
                                        <th scope="col">Chức vụ chuyên môn</th>
                                        <th scope="col">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (var i = 0 ; i < data.length ; i++){ %>

                                        <tr>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                                                </div>
                                            </td>
                                            <td><%=data[i].name %></td>
                                            <td><%=data[i].capbac %></td>
                                            <td><%=data[i].level %></td>
                                            <td><%=data[i].donvi %></td>
                                            <td><%=data[i].title %></td>
                                            <td class="cell-operation cell-pinned">
                                                <div class="input-group input-group-options p-0 border-0">
                                                    <a title="Edit" href='/users/<%=data[i].id %>'' class="item active" >
                                                        <i class="fas fa-pen"></i>
                                                    </a>
                                                    <form action="/users/<%= data[i].id %>/delete" method="post">
                                                        <input type="submit" value="Delete">
                                                      </form>
                                                    <!-- <a title="Delete" class="item mk-action-delete">
                                                        <i class="far fa-trash-alt"></i>
                                                    </a>  -->
                                                </div>
                                            </td>
                                        </tr>
                                  <% } %>
                                
                                </tbody>
                            </table>
                        </div>
                        
                        <!-- <div class="pagination-wrap">
                            <ul  class="pagination mk-pagination b-pagination">
                                <li role="presentation" class="page-item active">
                                    <button class="page-link">1</button>
                                </li>
                                <li role="presentation" class="page-item">
                                    <button role="menuitemradio" type="button" class="page-link">2</button>
                                </li>
                            </ul> 
                        </div> -->
                    </div>
                </div>
            </section>
            <!-- main-content -->
        </div>
    </body>
</html>
