<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>QUẢN LÝ HỘI VIÊN - THÊM MỚI HỘI VIÊN</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css2/bootstrap.min.css" />
    <link rel="stylesheet" href="/css2/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="/js2/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="main-site">
      <header class="main-header">
        <h2>QUẢN LÝ HỘI VIÊN</h2>
        <div class="main-header-right">
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownName"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <%= session.account.username%>
              <i class="fas fa-angle-down"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownName">
              <a
                class="dropdown-item"
                href="javascript(0)"
                data-toggle="modal"
                data-target="#modalChangePass"
                >Đổi mật khẩu</a
              >
              <a class="dropdown-item" href="/logout">Đăng xuất</a>
            </div>
          </div>
        </div>
      </header>
      <!-- main-header -->
      <form action="/users/<%=data.user.id%>/update" method="post">
        <section class="main-content">
          <div class="mk-minibar-menu">
            <% if(session.group_ids == '2' || session.group_ids == '1' ||
            session.group_ids == '3'){ %>
            <a href="/reports" class="mk-minibar-menu-item">
              <i class="fas fa-chart-line"></i>
            </a>
            <% } %>
            <a href="/users" class="mk-minibar-menu-item active">
              <i class="fas fa-child"></i>
            </a>
            <a href="/accounts" class="mk-minibar-menu-item">
              <i class="fas fa-user-circle"></i>
            </a>
          </div>
          <div class="mk-panel-tab-content">
            <div class="tab-content-topbar">
              <div class="bar-left">
                <h6 class="mb-0">
                  <a href="/users">Danh sách hội viên</a> >
                  <span>Thêm mới hội viên</span>
                </h6>
              </div>
            </div>
            <div class="mk-product-wrap mk-space">
              <div class="row">
                <div class="col-lg-3 col-md-6 mk-form-group">
                  <label class="mk-label"
                    >Họ và Tên <span class="color-error">*</span></label
                  >
                  <input
                    type="text"
                    placeholder="Nhập Họ và Tên"
                    class="form-control"
                    value="<%= data.user.name %>"
                    name="name"
                  />
                </div>
                <div class="col-lg-3 col-md-6 mk-form-group">
                  <label class="mk-label">Năm sinh </label>
                  <input
                    type="text"
                    placeholder="Nhập Năm sinh"
                    class="form-control"
                    value="<%= data.user.birthday %>"
                    name="birthday"
                  />
                </div>
                <div class="col-lg-3 col-md-6 mk-form-group">
                  <label class="mk-label">Năm nhập ngũ </label>
                  <input
                    type="text"
                    placeholder="Nhập Năm nhập ngũ"
                    class="form-control"
                    value="<%= data.user.nhapngu %>"
                    name="nhapngu"
                  />
                </div>
                <div class="col-lg-3 col-md-6 mk-form-group">
                  <label class="mk-label">Địa chỉ </label>
                  <input
                    type="text"
                    placeholder="Nhập địa chỉ"
                    class="form-control"
                    value="<%= data.user.address %>"
                    name="address"
                  />
                </div>
                <div class="col-lg-3 col-md-6 mk-form-group">
                  <label class="mk-label"
                    >Cấp bậc <span class="color-error">*</span></label
                  >
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    name="capbac"
                    value="<%= data.user.capbac %>"
                  >
                    <option value="<%= data.user.capbac_id %>">
                      <%= data.user.capbac %>
                    </option>
                    <option value="1">1/</option>
                    <option value="2">1/CN</option>
                    <option value="3">1//</option>
                    <option value="4">1//CN</option>
                    <option value="5">2/</option>
                    <option value="6">2/CN</option>
                    <option value="7">2//</option>
                    <option value="8">2//CN</option>
                    <option value="9">3/</option>
                    <option value="10">3/CN</option>
                    <option value="11">3//</option>
                    <option value="12">3//CN</option>
                    <option value="13">4/</option>
                    <option value="14">4/CN</option>
                    <option value="15">4//</option>
                    <option value="16">4//CN</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-6 mk-form-group">
                  <label class="mk-label"
                    >Đơn vị <span class="color-error">*</span></label
                  >
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    name="donvi"
                    value="<%=data.user.donvi_id%>"
                  >
                    <option value="<%=data.user.donvi_id%>">
                      <%=data.user.donvi%>
                    </option>
                    <option value="0"></option>
                    <option value="1">P1</option>
                    <option value="2">P2</option>
                    <option value="3">P13</option>
                    <option value="4">P7</option>
                    <option value="5">P3</option>
                    <option value="6">P4</option>
                    <option value="7">P5</option>
                    <option value="8">P8</option>
                    <option value="9">TTCNTT</option>
                    <option value="10">P9</option>
                    <option value="11">K11</option>
                    <option value="12">K12</option>
                    <option value="13">K13</option>
                    <option value="14">K21</option>
                    <option value="15">K23</option>
                    <option value="16">K22</option>
                    <option value="17">K24</option>
                    <option value="18">K31</option>
                    <option value="19">K32</option>
                    <option value="20">K51</option>
                    <option value="21">K7</option>
                    <option value="22">K52</option>
                    <option value="23">K6</option>
                    <option value="24">K9</option>
                  </select>
                </div>
                <div class="col-lg-4 col-md-6 mk-form-group">
                  <label class="mk-label">Dân tộc </label>
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option value="Kinh">Kinh</option>
                  </select>
                </div>
                <div class="col-lg-4 col-md-6 mk-form-group">
                  <label class="mk-label">Tôn giáo</label>
                  <input
                    type="text"
                    placeholder="Nhập Tôn giáo"
                    class="form-control"
                    value="<%=data.user.religious %>"
                    name="religious"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-6 mk-form-group">
                  <label class="mk-label"
                    >Trình độ văn hóa <span class="color-error">*</span></label
                  >
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    name="trinhdovanhoa"
                  >
                    <option value="12">12/12</option>
                    <option value="10">10/10</option>
                  </select>
                </div>
                <div class="col-lg-4 col-md-6 mk-form-group">
                  <label class="mk-label"> Trình độ chính trị </label>
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    name="trinhdochinhtri"
                  >
                    <option selected>Trình độ chính trị</option>
                    <option value="Sơ cấp">Sơ cấp</option>
                    <option value="Trung cấp">Trung cấp</option>
                  </select>
                </div>

                <div class="col-lg-4 col-md-6 mk-form-group">
                  <label class="mk-label"> Trình độ chuyen mon </label>
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    name="trinhdochinhtri"
                  >
                    <option value="<%=data.user.level%>"><%=data.user.level%></option>
                    <option value="Sơ cấp">Sơ cấp</option>
                    <option value="Trung cấp">Trung cấp</option>
                  </select>
                </div>
                <div class="col-lg-4 col-md-6 mk-form-group">
                  <label class="mk-label"
                    >Chức danh <span class="color-error">*</span></label
                  >
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    name="title"
                  >
                    <option value="<%= data.user.title_id %>">
                      <%= data.user.title %>/
                    </option>

                    <option value="0"></option>
                    <option value="15">Nhân viên</option>
                    <option value="16">Trợ lý</option>
                    <option value="17">CN Bộ môn</option>
                    <option value="18">Giáo viên</option>
                    <option value="19">Phó CN Khoa</option>
                    <option value="20">Văn thư</option>
                    <option value="21">NVKT</option>
                    <option value="22">Giảng viên</option>
                    <option value="23">KTV</option>
                    <option value="24">Bếp trưởng</option>
                    <option value="25">Học viên</option>
                    <option value="26">Quản lý bếp</option>
                    <option value="27">Trợ lý CĐ-PN</option>
                    <option value="28">Kế toán</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-6 mk-form-group">
                  <label class="mk-label"
                    >Chức vụ đảng <span class="color-error">*</span></label
                  >
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    name="chucvudang"
                  >
                    <option value="1">Bí thư chi bộ</option>
                    <option value="2">PBT Chi bộ</option>
                    <option value="3">PBT Đảng</option>
                    ủy
                    <option value="4">Chi ủy viên</option>
                  </select>
                </div>
                <div class="col-lg-4 col-md-6 mk-form-group">
                  <label class="mk-label"> Chức vụ chính quyền </label>
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    name="chucvuchinhquyen"
                  >
                    <option value="Nhân viên">Nhân viên</option>
                    <option value="Trợ lý">Trợ lý</option>
                    <option value="CN Bộ môn">CN Bộ môn</option>
                    <option value="Giáo viên">Giáo viên</option>
                    <option value="Phó CN Khoa">Phó CN Khoa</option>
                    <option value="Văn thư">Văn thư</option>
                  </select>
                </div>
                <div class="col-lg-4 col-md-6 mk-form-group">
                  <label class="mk-label"
                    >Chức vụ quần chúng
                    <span class="color-error">*</span></label
                  >
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    name="chucvuquanchung"
                  >
                    <option value="Chủ tịch HPN">Chủ tịch HPN</option>
                    <option value="Hội viên HPN">Hội viên HPN</option>
                    <option value="Ủy viên HPN">Uỷ viên HPN</option>
                    <option value="Ủy viên BCH CĐ">Uỷ viên BCH CĐ</option>
                    <option value="Doàn viên CĐ">Doàn viên CĐ</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <!-- <div class="col-lg-3 col-md-6 mk-form-group">
                  <label class="mk-label">Khen thưởng </label>
                  <div class="form-group">
                    <div
                      class="input-group date"
                      id="datetimepicker1"
                      style="position: relative"
                      name="khenthuong"
                    >
                      <input
                        type="text"
                        class="form-control"
                        data-provide="datepicker"
                        data-date-container="#datetimepicker1"
                        placeholder="Chọn thời gian"
                        
                      />
                      <span class="input-group-addon" style="display: none">
                        <i class="fas fa-calendar-times"></i>
                      </span>
                    </div>
                  </div>
                </div> -->
                <div class="col-lg-3 col-md-6 mk-form-group">
                  <label class="mk-label">Khen thưởng </label>
                  <select
                    class="form-control"
                    value="<%=data.user.award%>"
                    name="award"
                  >
                  <option value=<%=data.user.award_id%>><%=data.user.award%></option>

                    <option value=1>Giấy khen Đảng</option>
                    <option value=2>CSTT</option>
                    <option value="Giấy khen PN">Giấy khen PN</option>
                    <option value="Bằng khen TCCT">Bằng khen TCCT</option>
                  </select>
                </div>
                <div class="col-lg-6 col-md-6 mk-form-group">
                  <label class="mk-label">Hoàn cảnh gia đình</label>
                  <input
                    type="text"
                    placeholder="Nhập Nội dung"
                    class="form-control"
                    value="<%= data.user.family_situation %>"
                  />
                </div>
              </div>

              <button
                type="button"
                class="mk-btn mk-btn-primary"
                data-toggle="modal"
                data-target="#modalHistory"
              >
                Lịch sửa thay đổi
              </button>
            </div>
          </div>
        </section>
        <div class="mk-detail-bottom">
          <a href="/users/<%=data.user.id%>" class="mk-btn mk-btn-secondary mr6"
            ><i class="fas fa-ban mr6"></i>Hủy</a
          >

          <button class="mk-btn mk-btn-primary" type="submit">
            <i class="fas fa-save mr6"></i>Lưu
          </button>
        </div>
      </form>
      <!-- main-content -->
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="modalHistory"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Lịch sử thay đổi</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-3 col-md-3">
                <label class="mk-label">Time</label>
              </div>
              <div class="col-lg-2 col-md-2">
                <label class="mk-label">Cấp bậc</label>
              </div>
              <div class="col-lg-2 col-md-2">
                <label class="mk-label">Title</label>
              </div>
              <div class="col-lg-3 col-md-3">
                <label class="mk-label">Award</label>
              </div>
            </div>
            <% for (var i = 0 ; i < data.history.length ; i++){ %>
            <div class="row">
              <div class="col-lg-3 col-md-3">
                <div class="form-group">
                  <ul>
                    <li><%=data.history[i].created_time%></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-md-2">
                <ul>
                  <li><%=data.history[i].capbac%></li>
                </ul>
              </div>
              <div class="col-lg-2 col-md-2">
                <ul>
                  <li><%=data.history[i].title%></li>
                </ul>
              </div>

              <div class="col-lg-3 col-md-3">
                <ul>
                  <li><%=data.history[i].award%></li>
                </ul>
              </div>
            </div>

            <%}%>
            <!-- <div class="row">
              <div class="col-lg-3 col-md-3">
                <label class="mk-label">Trình độ chuyên môn </label>
                <div class="form-group">
                  <ul>
                    <li>Ngày 1/1/1998</li>
                    <li>Ngày 1/1/1998</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-3">
                <label class="mk-label" style="opacity: 0"
                  >Trình độ chuyên môn</label
                >
                <ul>
                  <li>Đại học</li>
                  <li>Thạc sĩ</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-3">
                <label class="mk-label">Chức danh </label>
                <div class="form-group">
                  <ul>
                    <li>Ngày 1/1/1998</li>
                    <li>Ngày 1/1/1998</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-3">
                <label class="mk-label" style="opacity: 0">Chức danh</label>
                <ul>
                  <li>Nhân viên</li>
                  <li>Phó CN khoa</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-3">
                <label class="mk-label">Khen thưởng </label>
                <div class="form-group">
                  <ul>
                    <li>Ngày 1/1/1998</li>
                    <li>Ngày 1/1/1998</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-3">
                <label class="mk-label" style="opacity: 0">Khen thưởng</label>
                <ul>
                  <li>CSTT</li>
                </ul>
              </div>
            </div> -->
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="mk-btn mk-btn-secondary"
              data-dismiss="modal"
            >
              <i class="fas fa-times mr6"></i>Đóng
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="modalChangePass"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document" style="width: 500px">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Đổi mật khẩu</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="mk-form-group">
              <label class="mk-label">Mật khẩu cũ </label>
              <input
                type="text"
                placeholder="Nhập Mật khẩu cũ"
                class="form-control"
              />
            </div>
            <div class="mk-form-group">
              <label class="mk-label">Mật khẩu mới </label>
              <input
                type="text"
                placeholder="Nhập Mật khẩu mới"
                class="form-control"
              />
            </div>
            <div class="mk-form-group">
              <label class="mk-label">Nhập lại mật khẩu </label>
              <input
                type="text"
                placeholder="Nhập lại mật khẩu"
                class="form-control"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="mk-btn mk-btn-secondary mr6"
              data-dismiss="modal"
            >
              <i class="fas fa-ban mr6"></i>Hủy bỏ
            </button>
            <button type="button" class="mk-btn mk-btn-primary">
              <i class="fas fa-save mr6"></i> Lưu
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    $("#datetimepicker").datepicker({ format: "dd.mm.yyyy" });
  </script>
</html>
